body {
  width: 100%;
  height: 100vh;
  margin: 0;
	color: #f5f6f7;
  font-family: Tahoma;
	font-size: 16px;
  background-image: url(https://github.com/ananfito/survey-form/blob/main/will-francis-ZDNyhmgkZlQ-unsplash.jpg?raw=true);
  background-size: cover;
  background-position: center;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

.form-survey {
  margin-bottom: 6em;
}

form {
  width: 90vw;
	max-width: 500px;
	min-width: 300px;
	margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  background-color: #BC9C89 /*linear-gradient(115deg, #A4908C, #524B49)*/;
}

fieldset {
  border: none;
	padding: 2rem 0;
  display: block;
}

fieldset:not(:last-of-type) {
  border-bottom: 3px solid #524B49;
}

label {
  display: block;
	margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 10px 0;
	width: 99%;
  min-height: 1.5em;
}

input, textarea {
  background-color: #524B49;
  border: 2px solid black;
  color: #ffffff;
}

input[type="radio"] {
  display: inline-block;
  width: 5%;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0.5em;
  vertical-align: middle;
}

input[type="checkbox"] {
  display: inline-block;
  width: 5%;
  margin: 10 0 10 0;
  padding: 10px 0 10px 0;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #524B49;
  border-color: white;
  min-width: 300px;
}

a {
  color: #dfdfe2
}

footer {
  color: #BC9C89;
  font-size: 0.7rem;
  font-style: italic;
  padding: 0.5em 0.5em;
  background-color: #524B49;
}
